<div class="select-container">
    <h1>Choose a warrior!</h1>
    <form action="/arena" method="POST">
        <div class="selection">
            <label for="warrior1">First warrior:</label>
            <select name="warrior1" id="warrior1">
                <option value="">Choose first warrior...</option>
                {{#each warriors}}
                    <option value="{{this.id}}">{{this.name}}</option>
                {{/each}}
            </select>
        </div>
        ⚔️
        <div class="selection">
            <label for="warrior2">First warrior:</label>
            <select name="warrior2" id="warrior2">
                <option value="">Choose first warrior...</option>
                {{#each warriors}}
                    <option value="{{this.id}}">{{this.name}}</option>
                {{/each}}
            </select>
        </div>
        <button id="fight-btn" type="submit">Fight!</button>
    </form>
</div>

<script>
    const removeDuplicates = (chosenWarrior, optionsTable) => {
        chosenWarrior.addEventListener('change', event => {
            optionsTable.forEach(node => {
                if(node.value === event.target.value) {
                    node.setAttribute('disabled', '');
                } else if (node.value) {
                    node.removeAttribute('disabled');
                }
            });
        });
    }

    const chosenWarrior1 = document.querySelector('#warrior1');
    const chosenWarrior2 = document.querySelector('#warrior2');
    const optionsTable1 = document.querySelector('#warrior1').childNodes;
    const optionsTable2 = document.querySelector('#warrior2').childNodes;
    removeDuplicates(chosenWarrior1, optionsTable2);
    removeDuplicates(chosenWarrior2, optionsTable1);
</script>