<h1>Choose a warrior!</h1>
<form action="/arena" method="POST">
    <label for="warrior1">First warrior:</label>
    <select name="warrior1" id="warrior1">
        <option value="">Choose first warrior...</option>
        {{#each warriors}}
            <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
    </select>
    <label for="warrior2">First warrior:</label>
    <select name="warrior2" id="warrior2">
        <option value="">Choose first warrior...</option>
        {{#each warriors}}
            <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
    </select>
    <button type="submit">Fight!</button>
</form>